# Ignore Terraform files
*.tfstate
*.tfstate.backup
*.tfvars
.terraform/

# Ignore Ansible temporary files
*.retry
*.swp
*.bak

# Ignore any IDE/editor-specific files
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log
